.show-all_route {
  position: absolute;
  right: 0;
  top: 10px;
}

.employee-form {
  padding: 30px 20px
}

.list-ground--color {
  color: #000;
}

.edit-list {
  position: absolute;
  right: 0;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
}